Source: silofs
Section: utils
Priority: optional
Maintainer: Shachar Sharon <synarete@gmail.com>
Build-Depends: debhelper-compat (= 13),
               autoconf (>= 2.62),
               automake (>= 1.11),
               libtool (>= 2.2.6),
               pkg-config,
               python3-docutils,
               libattr1-dev,
               libcap-dev,
               uuid-dev,
               libgcrypt20-dev,
               libunwind-dev,
               libxxhash-dev,
               libzstd-dev,
               libjansson-dev
Standards-Version: 4.6.2
Homepage: https://github.com/synarete/silofs

Package: silofs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         libcap2,
         libuuid1,
         libgcrypt20,
         libunwind8
Description: The Silo File-System
 Silofs is a private, encrypted user-space file-system -- your personal data
 silo. Just as a physical silo keeps its contents sealed and inaccessible to the
 outside world, silofs lets any ordinary user create an isolated storage area
 protected by their own private key, and mount it on a local host. Once mounted,
 files can be read and written like any other file-system, while all data and
 metadata are transparently encrypted and stored in a local repository as
 opaque blobs.

Package: silofs-tests
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         silofs (= ${binary:Version}),
         python3 (>= 3.6)
Description: Silofs testing utilities
 Various testing programs for silofs.
