Source: silofs
Section: utils
Priority: optional
Maintainer: Shachar Sharon <synarete@xxxxxxxx>
Build-Depends: debhelper-compat (= 13),
               autoconf (>= 2.62),
               automake (>= 1.11),
               libtool (>= 2.2.6),
               pkg-config,
               python3-docutils,
               libattr1-dev,
               libcap-dev,
               uuid-dev,
               libgcrypt20-dev,
               libunwind-dev,
               libxxhash-dev,
               libzstd-dev,
               libjansson-dev
Standards-Version: 4.6.2
Homepage: https://github.com/synarete/silofs

Package: silofs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         libcap2,
         libuuid1,
         libgcrypt20,
         libunwind8
Description: The Silo File-System
 Silofs is a user-space file-system for storing large volumes of data
 as encrypted blobs. It allows normal users to create an isolated
 storage area, with its own private key, and mount it on local host.
 When mounted, users may manipulate their data as they would do with any
 other file-system, while the actual data is transparently encrypted and
 stored within a local repository as opaque blobs. Other processes,
 which have the appropriate UNIX credentials may access those blobs as
 regular files, but they can not view their content. This model allows
 common Linux utilities to backup or archive the content of the
 repository into remote location without compromising the integrity of
 the underlying data.

Package: silofs-tests
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         silofs (= ${binary:Version}),
         python3 (>= 3.6)
Description: Silofs testing utilities
 Various testing programs for silofs.
