#!/usr/bin/make -f
# -*- makefile -*-

export DEB_BUILD_MAINT_OPTIONS = optimize=-lto

py3sitedir := $(shell python3 -c \
	"import site; print(site.getsitepackages()[-1])")

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --sysconfdir=/etc \
		--with-python-site-packages=$(py3sitedir)
